AWS_REGION=us-east-2
AWS_ACCOUNT_ID=
ECR_REPO=niteharts/niteharts-docker
ASG_NAME=niteharts-autoscaling
CAPACITY=
LAUNCH_TEMPLATE_NAME=niteharts
SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/<account_id>/niteharts-configs
ROLE_ARN=arn:aws:iam::<account_id>:role/kennywangrole
TWOCAPTCHA_API_KEY=
EVENT_URL=
KEY_PAIR_NAME=
INSTANCE_PROFILE_ARN=
SECURITY_GROUP_ID=
S3_BUCKET=
